@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
$primary-color: #efa48d;
$dark-color: #222222;
$gray-color: #e8e8e8;
$secondary-color: #666666;
